<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% extends "form/templates/layout/base.html" %}
    {% block title %} Pesan dari {{name}} {% endblock %}
    {% block content %}
    <textarea readonly rows="5" class "form-control">
        &quot;{{message}} 
        &quot;-{{name}} by {{email}}
    </textarea>
    {% endblock %}

    {% block footer %}
    <p>&copy;{{name}}</p>
    {% endblock %}
</body>

</html>