<!DOCTYPE html>
<html lang="en">

{% extends 'form/templates/layout/base.html' %}
{% block title %} Kumpulan Pesan {% endblock %}
{% block content %}

<table>
    <thead>
        <th>Nama</th>
        <th>Email</th>
        <th>Pesan</th>
        <th>Dibuat Pada</th>
    </thead>
    <tbody>
        {% for i in message %}
        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning"> {% else %}
        <tr class="success">
            {% endif %}
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.message}}</td>
            <td>{{i.created_date.time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

</html>